*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

header{
    background-color: #9293F1;
    width: 100%;
    height: 70px;
    position: relative;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
    text-align: center;
    line-height: 50px;

    position: absolute;
    top: 10px;
    left: 20px;
}

nav{
    display: flex;
    text-align: center;

    position: absolute;
    top: 15px;
    right: 30px;

    gap: 15px;

}

nav a{
    text-decoration: none;
    background-color: white;
    color: #9293F1;
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 18px;
    margin-left: 15px;
}

.mensagens{
    position: relative;
    text-decoration: none;
    padding: 10px 25px;
    background-color: white;
    border-radius: 12px;
}

.badge-menu{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9294f1c9;
    color: white;
    border: 1px solid white;

    position: absolute;
    top: -8px;
    right: -8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: bold;
}

/* Cards */

.container{
    width: 1200px;
    height: 600px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3,320px);
    justify-content: space-between;
}

.card{
    width: 320px;
    height: 170px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

.badge{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #9293F1;
    color: white;
    text-align: center;
    line-height: 45px;

    position: absolute;
    top: -18px;
    right: -18px;
}

.foto{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;

    position: absolute;
    top: 20px;
    left: 30px;
}

.texto{
    position: absolute;
    top: 30px;
    left: 110px;
}

.texto h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.texto p{
    font-size: 16px;
    margin-top: 8px;
}

.whatsapp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #25D366;

    position: fixed;
    right: 30px;
    bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.whatsapp img{
    width: 35px;
}

/* Rodapé */

footer{
    width: 100%;
    height: 40px;
    background-color: #9293F1;
    color: #000;
    text-align: center;
    line-height: 40px;

    position: fixed;
    bottom: 0;
}